Options +FollowSymLinks -MultiViews
RewriteEngine on

#redirect the old format to the rewritten URL
RewriteCond %{THE_REQUEST} ^GET\ /+partners\?id=([^&\ ]+)
RewriteRule ^ /partners/%1? [R=302,L]

#internally rewrite folder to partners querystring. 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^partners/(.+)$ partners?id=$1 [L]